@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
h1,li{
    font-family: 'Young Serif', serif;
}
body{
    display:flex;
    flex-direction:column;
}
main{
    display:flex;
    flex-direction:row;
    flex:auto;
}
article{
    flex:2;
    overflow-y:auto;
}
aside{
    flex:1;
    overflow-y:auto;
}
